.session-page-section {
    display: flex;
    width: 100%;
}

.session-chart-containers {
    width: 45%;
    margin: 20px auto;
}

.duration-chart-container {
    width: 70%;
    margin: 20px auto;
}
